@import "main.scss";
$background_headertop		: #e8280b;
$img_logo   				: url(../images/logo.svg);
$img_logo-footer   			: url(../images/logo-footer.svg);
$img_facebook               : url(../images/facebook.svg);
$img_twitter                : url(../images/twitter.svg);
$img_youtube                : url(../images/youtube.svg);
$img_facebook               : url(../images/facebook.svg);

$font_size-header			: 14px;
$font_size-menu				: 16px;
$font_size-footer           : 16px;


$color_text       			: #181818;
$color_text-hover 			: #ff0202;

$color_text-header       	: #fff;
$color_text-header-hover    : black;

$color_text-menu			: #181818;
$color_text-menu-hover		: #e8280b;

$color_text-time  			: #b7b7b7;

$color_background-footer    : #252525;
$coler_text-footer          : #ACADB0;
$color_text-copyright       : #999;

@mixin text ($color, $size, $decoration, $align, $transform, $weight) {
	color: $color;
	font-size: $size;
	text-decoration: $decoration;
	text-align: $align;
	text-transform: $transform;
	font-weight: $weight;
}


//--------------- HEADER ------------
#header{
	.header_top{
		background: $background_headertop;
		padding: 20px 0px;
		overflow: hidden;
		.logo{
			float: left;
			a{
				background: $img_logo no-repeat center top;
				background-size: contain;
				width: 235px;
				height: 40px;
				display: block;
			}
			p{
				padding: 0px 0px 0px 65px;
				@include text($color_text-header, 10px, none, center, uppercase, 300);
			}
		}
		.header_login{
			float: right;
			margin-right: 20px;
			li{
				float: left;
				margin-left: 10px;
				a{
					padding: 15px 25px;
					display: block;
					color: $color_text-header;
					font-size: $font_size-header;
					&:hover, &.active{
						background-color: #fff;	
						color: $color_text-header-hover;
						border-radius: 5px;
					}
				}
			}
		}
	}
	.header_bottom{
		border-bottom: 1px solid #eaeaea;
		padding: 5px 0px;
		height: 80px;
		// overflow: hidden;
		.header_menu{
			float: left;
			width: 75%;
			.menu_short{
				li{
					float: left;
					width: 16%;
					position: relative;
					.submenu{
						width: 1348px;
						height: auto;
						position: absolute;
						left: -238px;
						display: block;
						background-color: #f5f5f5;
						z-index: 5;
						li{
							width: 17%;
							float: left;
							margin-left: 2%;
							.vertical_item{
								a{
									height: inherit;
    								padding: 0px;
    								@include text($color_text-header-hover, 14px, none, left, uppercase, none);
								}
								.post_news{
									.author_news{
										a{
											font-size: 12px;
										}
									}
								}
								.category_news{
									a{
									    display: inline-block;
									    line-height: 21px;
									    @include text($color_text-category, 10px, none, left, uppercase, 700);
									}
								}
							}
						}
					}
					&:hover{
						
					}
					a{
						height: 100%;
						display: block;
						padding: 25px 20px;
						@include text($color_text-menu, $font_size-menu, none, center, uppercase, 100);
						&:hover{
							color: $color_text-menu-hover;
							.submenu{
								display: block;
							}
						}
					}
				}
			}
		}
		.header_search{
			float: right;
			border: 1px solid #cecece;
			border-radius: 4px;
			padding: 0px 10px;
			margin: 10px 20px 0px 0px;
			.text_search{
				border: none;
				padding: 14px 5px;
				float: left;
			}
			.btn_search{
				border: none;
				position: relative;
				float: left;
				cursor: pointer;
				font-family: "FontAwesome";
				height: 42px;
				width: 48px;
				font-size: 18px;
				font-weight: normal;
				background: transparent;
			}
		}
	}
}

//--------------- MAIN ------------
#main{
	padding-bottom: 100px;
	overflow: hidden;
	.main_top{
		padding: 30px 0px 0px 0px;
		overflow: hidden;
		.main_top-left{
			width: 65%;
			float: left;
			.news_hot{
				padding-bottom: 40px;
				.vertical_item{
					padding: 0px;
				}
				.content_left{
					float: left;
					width: 65%;
					.hot_item{
						.category_news{
							a{
								padding: 5px 0px; 
							}
						}
						.title_news{
							a{
								font-size: 34px;
								line-height: 42px;
							}
						}
						.content_news{
							font-size: 16px;
							line-height: 24px;
							padding: 10px 0px;
						}
						.post_news{
							.author_news{
								font-size: 12px;
							}
						}
					}
				}
				.content_right{
					float: right;
					width: 33%;
				}
			}
			.news_highlights{
				.content_block-news{
				}
			}
			.news_picks{
				.content_block-news{
					li{
						width: 100%;
					}
				}
			}
			.news_popular{
				background: none;
				.left_news-popular{
					width: 50%;
					float: left;
					.popular_vertical{
						.content_news{
							line-height: 24px;
						}
						.post_news{
							.author_news{
								font-size: 14px;
							}
						}
					}
				}
				.right_news-popular{
					width: 48%;
					float: left;
					margin-left: 2%;
					li{
						width: 100%;
						.popular_horizontal{
							.horizontal_left{
								width: 35%;
							}
							.horizontal_right{
								width: 60%;
							}
							.title_news{
								a{
									font-size: 14px;
									line-height: 18px;
								}
							}
						}
					}
				}
			}
		}
		.main_top-right{
			width: 33%;
			float: right;

			.news_recent{
				border: 1px solid #EBEBEB;
				overflow: hidden;
				padding: 0px 20px 20px 20px;
				.content_news-recent{
					li{
						width: 100%;
						.horizontal_news-recent{
							.horizontal_left{
								width: 33%;
							}
							.horizontal_right{
								width: 64%;
								.title_news{
									a{
										font-size: 14px;
										line-height: 16px;
									}
								}
								.post_news{
									.author_news{
										font-size: 12px;
									}
								}
							}

						}
						&:last-child{
							.horizontal_news-recent{
								border-bottom: none;
							}
						}
					}
				}
			}

			.maketting{
				margin: 20px 0px;
				img{
					max-width: 100%;
					max-height: 100%;
				}
			}

			.five_news-hot{
				padding: 0px 20px 20px 20px;
				border: 1px solid #EBEBEB;
				.list_five-news{
					counter-reset: section;
					li{
						float: left;
						width: 100%;
						padding: 5px 0px 5px 20px;
						list-style-type: decimal;
						border-top: 1px solid #eaeaea;
						position: relative;
						overflow: hidden;
						&:before{
							counter-increment: section;
							content: counter(section);
    						position: absolute;
    						top: 8px;
    						left: 0px;
    						@include text($color_text, 16px, none, center, none, normal);
						}
						a{
							@include text($color_text, 16px, none, left, none, normal);
							line-height: 22px;
							font-family: Roboto_Bold;
							&:hover{
								color: $color_text-hover;
							}
						}
					}
				}
			}
		}
	}
	.main_bottom{
		.news_trending{
			border-top: none;
			padding: 0px 0px 10px 0px;
			background: url(../images/lapgachcathome.png) repeat-x center bottom;
			.content_news-trending{
				width: 100%;
				li{
					float: left;
					width: 22%;
					margin-left: 3%;
					margin-right: 0%;
					&:first-child{
						margin-left: 0px;
					}
					.list_news-trending{
						li{
							width: 100%;
							margin-left: 0px;
						}
					}
				}
			}
		}

		.video_news-hot{
			background-color: #222222;
			height: 350px;
			.video_news{
				padding: 20px 0px;
				.content_video{
					width: 60%;
					float: left;
					iframe{
						width: 100%;
						max-height: 100%;
						height: 315px;
					}
				}
				.list_video{
					width: 35%;
					height: 320px;
					float: left;
					margin-left: 4%; 
					.horizontal_news-video{
						border: none;
						.horizontal_right{
							.title_news{
								a{
									color: #ffffff;
									font-size: 14px;
									line-height: 20px;
								}
							}
							.post_news{
								.author_news{
									color: #ffffff;
								}
							}
						}
					}
				}
			}
		}

		.news_category{
			width: 70%;
			float: left;
			.list_news-category{
				width: 100%;
				li{
					width: 29%;
					float: left;
					margin-left: 3%;
					border-right: 1px dotted #c6c6c6;
					padding-right: 2%;
					margin-top: 10px;
					&:nth-child(3n+1){
						margin-left: 0px;
					}

					&:nth-child(n+4){
						border-top: 1px dotted #c6c6c6;
					}
					.content_news-category{
						border-top: none;
						.title_block-news{
							h3{
								@include text($color_text, 14px, none, left, uppercase, none);
								line-height: 18px;
							}
						}
						.detail_news-category{
							li{
								width: 100%;
								margin: 0;
								border: none;
								.vertical_item{
									padding: 10px 0px;
								}
							}
						}
					}
				}
			}
		}

		.social_media{
			width: 70%;
			.content_block-news{
				li{
					width: 100%;
					.horizontal_item{
						.horizontal_left{
							width: 35%;
						}
						.horizontal_right{
							width: 60%;
						}
					}
				}
			}
		}
	}
}

//--------------- FOOTER ------------
#footer{
	background-color: $color_background-footer;
	min-height: 400px;
	font-family: tahoma;
	.begin_footer{
		padding: 20px 0px;
		border-bottom: 1px solid red;
		.menu_footer{
			width: 100%;
			overflow: hidden;
			margin: 0px auto;
			padding: 15px 0px 0px 0px;
			li{
				width: 8%;
				margin-left: 2%;
				float: left;
				a{
					padding: 5px 0px;
					@include text(#fff, 14px, none, center, uppercase, 300);
					&:hover{
						color: $color_text-hover;
					}
				}
			}
		}
		.begin_footer-top{
			overflow: hidden;
			padding: 10px 0px 20px 0px;
			border-bottom: 1px solid #333;

			.logo_footer{
				float: left;
				a{
					background: $img_logo-footer no-repeat center top;
					width: 190px;
					height: 33px;
					display: block;
				}
				p{
					padding: 5px 0px 0px 20px;
					@include text(#fff, 10px, none, center, uppercase, 300);
				}
			}
			.footer_search{
				float: right;
				border: 1px solid #cecece;
				border-radius: 15px;
				padding: 0px 15px;
				margin: 0px 30px 0px 0px;
				background-color: #404040;
				height: 35px;
				.text_search{
					border: none;
					padding: 0px 5px;
					float: left;
					background-color: #404040;
					height: 100%;
					@include text(#fff, 14px , none, center, none, normal);
				}
				.btn_search{
					border: none;
					position: relative;
					float: left;
					cursor: pointer;
					font-family: "FontAwesome";
					height: 100%;
					width: 48px;
					background: transparent;
					@include text(#fff, 18px , none, center, none, normal);
				}
			}
		}		
	}
	
	.main_footer{
		padding: 40px 0px 20px 0px;
		.content_footer-top{
			width: 100%;
			li{
				width: 45%;
				float: left;
				margin-left: 3%;
				&:first-child{
					margin-left: 0px;
				}
				.infor{
					p{
						@include text($color_text-copyright , 12px, none, left, none, 300);
						line-height: 22px;
						font-family: tahoma;
					}
				}
				.follow_us{
					width: 200px;
					overflow: hidden;
					margin: 10px 0px;
					p{
						@include text(#fff, 12px , none, left, none, bold);
						margin: 10px 0px 20px 0px;
					}
					li{
						float: left;
						width: 22%;
						margin-left: 2%;
						&:nth-child(1){
							margin-left: 0%;
						}
						a{
							position: relative;
							display: block;
							width: 40px;
							height: 40px;
							background-color: #333333;
							border-radius: 5px;
						}
						.facebook_icon{
							&:after{
								width: 10px;
								height: 20px;
								display: block;
								content: "";
								background-image: $img_facebook ;
								background-repeat: no-repeat;
								background-position: center top;
								position: absolute;
								top: 10px;
								left: 15px;
							}
								
						}
						.youtube_icon{
							&:after{
								width: 20px;
								height: 15px;
								display: block;
								content: "";
								background-image: url(../images/youtube.svg);
								background-repeat: no-repeat;
								background-position: center top;
								position: absolute;
								top: 13px;
								left: 10px;
							}
						}
						.twitter_icon{
							&:after{
								width: 20px;
								height: 16px;
								display: block;
								content: "";
								background-image: url(../images/twitter.svg);
								background-repeat: no-repeat;
								background-position: center top;
								position: absolute;
								top: 12px;
								left: 11px;
							}
						}
					}
				}
			}
		}
	}
}