@import url(reset.css);
@import url(font-awesome.min.css);
@font-face {
  font-family: "Roboto_Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto_Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

a {
  display: block;
}

.wrapper {
  font-family: tahoma;
}

.wrapper .container {
  width: 85%;
  height: auto;
  margin: 0px auto;
}

.vertical_item {
  padding: 20px 0px;
}

.vertical_item .images_news a {
  border: 1px solid #eaeaea;
  overflow: hidden;
}

.vertical_item .images_news a img {
  height: auto;
  max-width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.vertical_item .images_news a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.vertical_item .time_news {
  color: #b7b7b7;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: none;
  padding: 5px 0px;
}

.vertical_item .category_news a {
  display: inline-block;
  line-height: 21px;
  color: #a1a1a1;
  font-size: 10px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

.vertical_item .title_news a {
  color: #181818;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 27px;
  font-family: Roboto_Bold;
}

.vertical_item .title_news a:hover {
  color: #ff0202;
}

.vertical_item .content_news {
  font-family: Roboto_Regular;
}

.vertical_item .post_news .author_news {
  color: #181818;
  font-size: 12px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  display: block;
  padding: 5px 0 0 0;
}

.vertical_item .post_news .author_news a {
  color: #ff0202 !important;
  display: inline-block !important;
}

.vertical_item .post_news .author_news a:hover {
  text-decoration: underline;
}

.horizontal_item {
  width: 100%;
  overflow: hidden;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #eaeaea;
}

.horizontal_item .horizontal_left {
  float: left;
  width: 24%;
}

.horizontal_item .horizontal_left .images_news a {
  border: 1px solid #eaeaea;
  overflow: hidden;
}

.horizontal_item .horizontal_left .images_news a img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.horizontal_item .horizontal_left .images_news a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.horizontal_item .horizontal_right {
  float: left;
  width: 72%;
  margin-left: 2%;
}

.horizontal_item .horizontal_right .infor_news {
  width: 100%;
  overflow: hidden;
}

.horizontal_item .horizontal_right .infor_news .category_news {
  float: left;
}

.horizontal_item .horizontal_right .infor_news .category_news a {
  display: inline-block;
  line-height: 21px;
  color: #a1a1a1;
  font-size: 10px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

.horizontal_item .horizontal_right .infor_news .time_news {
  float: left;
  margin-left: 10px;
}

.horizontal_item .horizontal_right .infor_news .time_news p {
  color: #b7b7b7;
  font-size: 10px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 21px;
}

.horizontal_item .horizontal_right .title_news a {
  color: #181818;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 27px;
  font-family: Roboto_Bold;
}

.horizontal_item .horizontal_right .title_news a:hover {
  color: #ff0202;
}

.horizontal_item .horizontal_right .content_news {
  font-family: Roboto_Regular;
  color: #181818;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  font-weight: normal;
  line-height: 27px;
}

.horizontal_item .horizontal_right .post_news .author_news {
  color: #181818;
  font-size: 12px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  display: block;
  padding: 5px 0 0 0;
  line-height: 24px;
}

.horizontal_item .horizontal_right .post_news .author_news a {
  color: #ff0202;
  display: inline-block;
}

.horizontal_item .horizontal_right .post_news .author_news a:hover {
  text-decoration: underline;
}

.news_normal {
  overflow: hidden;
  padding: 10px 0px;
  border-top: 1px solid #eaeaea;
}

.news_normal .time_news-normal {
  color: #b7b7b7;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: none;
  padding: 5px 0px;
}

.news_normal .title_news-normal {
  color: #181818;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  font-weight: normal;
  line-height: 22px;
  font-family: Roboto_Regular;
}

.news_normal .title_news-normal:hover {
  color: #ff0202;
}

.block_news {
  border-top: 3px solid #EBEBEB;
  overflow: hidden;
}

.block_news .title_block-news {
  padding: 10px 0 0 0;
}

.block_news .title_block-news h3 {
  color: #181818;
  font-size: 24px;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  font-weight: 300;
  line-height: 40px;
  font-family: Arial;
  border-left: 3px solid red;
  padding-left: 10px;
}

.block_news .content_block-news li {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.block_news .content_block-news li:nth-child(2n) {
  margin-right: 0%;
}

.block_category {
  border-top: none;
  overflow: hidden;
  background: url(../images/lapgachcathome.png) repeat-x center bottom;
}

.block_news-different {
  padding: 10px 5px;
  margin: 10px auto;
  background-color: black;
  color: white;
}

.block_news-different .vertical_item .title_news a {
  color: #fff !important;
}

.block_news-different .post_news .author_news {
  color: #fff !important;
}

.ads1 {
  position: absolute;
  top: 1660px;
  right: 120px;
}

.ads1 img {
  max-width: 100%;
  max-height: 100%;
}

.ads2 {
  height: auto;
  position: absolute;
  top: 3350px;
  right: 120px;
}

.ads2 img {
  max-width: 100%;
  max-height: 100%;
}

#header .header_top {
  background: #e8280b;
  padding: 20px 0px;
  overflow: hidden;
}

#header .header_top .logo {
  float: left;
}

#header .header_top .logo a {
  background: url(../images/logo.svg) no-repeat center top;
  background-size: contain;
  width: 235px;
  height: 40px;
  display: block;
}

#header .header_top .logo p {
  padding: 0px 0px 0px 65px;
  color: #fff;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

#header .header_top .header_login {
  float: right;
  margin-right: 20px;
}

#header .header_top .header_login li {
  float: left;
  margin-left: 10px;
}

#header .header_top .header_login li a {
  padding: 15px 25px;
  display: block;
  color: #fff;
  font-size: 14px;
}

#header .header_top .header_login li a:hover, #header .header_top .header_login li a.active {
  background-color: #fff;
  color: black;
  border-radius: 5px;
}

#header .header_bottom {
  border-bottom: 1px solid #eaeaea;
  padding: 5px 0px;
  height: 80px;
}

#header .header_bottom .header_menu {
  float: left;
  width: 75%;
}

#header .header_bottom .header_menu .menu_short {
  position: relative;
}

#header .header_bottom .header_menu .menu_short li {
  float: left;
  width: 16%;
}

#header .header_bottom .header_menu .menu_short li .submenu {
  width: 1348px;
  height: auto;
  position: absolute;
  left: -106px;
  display: none;
  background-color: #f5f5f5;
  z-index: 5;
}

#header .header_bottom .header_menu .menu_short li .submenu li {
  width: 17%;
  float: left;
  margin-left: 2%;
}

#header .header_bottom .header_menu .menu_short li .submenu li .vertical_item a {
  height: inherit;
  padding: 0px;
  color: black;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: none;
}

#header .header_bottom .header_menu .menu_short li .submenu li .vertical_item .post_news .author_news a {
  font-size: 12px;
}

#header .header_bottom .header_menu .menu_short li .submenu li .vertical_item .category_news a {
  display: inline-block;
  line-height: 21px;
  color: #a1a1a1;
  font-size: 10px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

#header .header_bottom .header_menu .menu_short li a {
  height: 100%;
  display: block;
  padding: 25px 20px;
  color: #181818;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

#header .header_bottom .header_menu .menu_short li a:hover {
  color: #e8280b;
}

#header .header_bottom .header_menu .menu_short li a:hover .submenu {
  display: block;
}

#header .header_bottom .header_search {
  float: right;
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 0px 10px;
  margin: 10px 20px 0px 0px;
}

#header .header_bottom .header_search .text_search {
  border: none;
  padding: 14px 5px;
  float: left;
}

#header .header_bottom .header_search .btn_search {
  border: none;
  position: relative;
  float: left;
  cursor: pointer;
  font-family: "FontAwesome";
  height: 42px;
  width: 48px;
  font-size: 18px;
  font-weight: normal;
  background: transparent;
}

#main .main_top {
  padding: 30px 0px 0px 0px;
  overflow: hidden;
}

#main .main_top .main_top-left {
  width: 65%;
  float: left;
}

#main .main_top .main_top-left .news_hot {
  padding-bottom: 40px;
}

#main .main_top .main_top-left .news_hot .vertical_item {
  padding: 0px;
}

#main .main_top .main_top-left .news_hot .content_left {
  float: left;
  width: 65%;
}

#main .main_top .main_top-left .news_hot .content_left .hot_item .category_news a {
  padding: 5px 0px;
}

#main .main_top .main_top-left .news_hot .content_left .hot_item .title_news a {
  font-size: 34px;
  line-height: 42px;
}

#main .main_top .main_top-left .news_hot .content_left .hot_item .content_news {
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0px;
}

#main .main_top .main_top-left .news_hot .content_left .hot_item .post_news .author_news {
  font-size: 12px;
}

#main .main_top .main_top-left .news_hot .content_right {
  float: right;
  width: 33%;
}

#main .main_top .main_top-left .news_picks .content_block-news li {
  width: 100%;
}

#main .main_top .main_top-left .news_popular {
  background: none;
}

#main .main_top .main_top-left .news_popular .left_news-popular {
  width: 50%;
  float: left;
}

#main .main_top .main_top-left .news_popular .left_news-popular .popular_vertical .content_news {
  line-height: 24px;
}

#main .main_top .main_top-left .news_popular .left_news-popular .popular_vertical .post_news .author_news {
  font-size: 14px;
}

#main .main_top .main_top-left .news_popular .right_news-popular {
  width: 48%;
  float: left;
  margin-left: 2%;
}

#main .main_top .main_top-left .news_popular .right_news-popular li {
  width: 100%;
}

#main .main_top .main_top-left .news_popular .right_news-popular li .popular_horizontal .horizontal_left {
  width: 35%;
}

#main .main_top .main_top-left .news_popular .right_news-popular li .popular_horizontal .horizontal_right {
  width: 60%;
}

#main .main_top .main_top-left .news_popular .right_news-popular li .popular_horizontal .title_news a {
  font-size: 14px;
  line-height: 18px;
}

#main .main_top .main_top-right {
  width: 33%;
  float: right;
}

#main .main_top .main_top-right .news_recent {
  border: 1px solid #EBEBEB;
  overflow: hidden;
  padding: 0px 20px 20px 20px;
}

#main .main_top .main_top-right .news_recent .content_news-recent li {
  width: 100%;
}

#main .main_top .main_top-right .news_recent .content_news-recent li .horizontal_news-recent .horizontal_left {
  width: 33%;
}

#main .main_top .main_top-right .news_recent .content_news-recent li .horizontal_news-recent .horizontal_right {
  width: 64%;
}

#main .main_top .main_top-right .news_recent .content_news-recent li .horizontal_news-recent .horizontal_right .title_news a {
  font-size: 14px;
  line-height: 16px;
}

#main .main_top .main_top-right .news_recent .content_news-recent li .horizontal_news-recent .horizontal_right .post_news .author_news {
  font-size: 12px;
}

#main .main_top .main_top-right .news_recent .content_news-recent li:last-child .horizontal_news-recent {
  border-bottom: none;
}

#main .main_top .main_top-right .maketting {
  margin: 20px 0px;
}

#main .main_top .main_top-right .maketting img {
  max-width: 100%;
  max-height: 100%;
}

#main .main_top .main_top-right .five_news-hot {
  padding: 0px 20px 20px 20px;
  border: 1px solid #EBEBEB;
}

#main .main_top .main_top-right .five_news-hot .list_five-news {
  counter-reset: section;
}

#main .main_top .main_top-right .five_news-hot .list_five-news li {
  float: left;
  width: 100%;
  padding: 5px 0px 5px 20px;
  list-style-type: decimal;
  border-top: 1px solid #eaeaea;
  position: relative;
  overflow: hidden;
}

#main .main_top .main_top-right .five_news-hot .list_five-news li:before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  top: 8px;
  left: 0px;
  color: #181818;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  font-weight: normal;
}

#main .main_top .main_top-right .five_news-hot .list_five-news li a {
  color: #181818;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  font-weight: normal;
  line-height: 22px;
  font-family: Roboto_Bold;
}

#main .main_top .main_top-right .five_news-hot .list_five-news li a:hover {
  color: #ff0202;
}

#main .main_bottom {
  padding-bottom: 100px;
  overflow: hidden;
}

#main .main_bottom .news_trending {
  border-top: none;
  padding: 0px 0px 10px 0px;
  background: url(../images/lapgachcathome.png) repeat-x center bottom;
}

#main .main_bottom .news_trending .content_news-trending {
  width: 100%;
}

#main .main_bottom .news_trending .content_news-trending li {
  float: left;
  width: 22%;
  margin-left: 3%;
  margin-right: 0%;
}

#main .main_bottom .news_trending .content_news-trending li:first-child {
  margin-left: 0px;
}

#main .main_bottom .news_trending .content_news-trending li .list_news-trending li {
  width: 100%;
  margin-left: 0px;
}

#main .main_bottom .video_news-hot {
  background-color: #222222;
  height: 350px;
}

#main .main_bottom .video_news-hot .video_news {
  padding: 20px 0px;
}

#main .main_bottom .video_news-hot .video_news .content_video {
  width: 60%;
  float: left;
}

#main .main_bottom .video_news-hot .video_news .content_video iframe {
  width: 100%;
  max-height: 100%;
  height: 315px;
}

#main .main_bottom .video_news-hot .video_news .list_video {
  width: 35%;
  height: 320px;
  float: left;
  margin-left: 4%;
}

#main .main_bottom .video_news-hot .video_news .list_video .horizontal_news-video {
  border: none;
}

#main .main_bottom .video_news-hot .video_news .list_video .horizontal_news-video .horizontal_right .title_news a {
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}

#main .main_bottom .video_news-hot .video_news .list_video .horizontal_news-video .horizontal_right .post_news .author_news {
  color: #ffffff;
}

#main .main_bottom .news_category {
  width: 70%;
  float: left;
}

#main .main_bottom .news_category .list_news-category {
  width: 100%;
}

#main .main_bottom .news_category .list_news-category li {
  width: 29%;
  float: left;
  margin-left: 3%;
  border-right: 1px dotted #c6c6c6;
  padding-right: 2%;
  margin-top: 10px;
}

#main .main_bottom .news_category .list_news-category li:nth-child(3n+1) {
  margin-left: 0px;
}

#main .main_bottom .news_category .list_news-category li:nth-child(n+4) {
  border-top: 1px dotted #c6c6c6;
}

#main .main_bottom .news_category .list_news-category li .content_news-category {
  border-top: none;
}

#main .main_bottom .news_category .list_news-category li .content_news-category .title_block-news h3 {
  color: #181818;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-weight: none;
  line-height: 18px;
}

#main .main_bottom .news_category .list_news-category li .content_news-category .detail_news-category li {
  width: 100%;
  margin: 0;
  border: none;
}

#main .main_bottom .news_category .list_news-category li .content_news-category .detail_news-category li .vertical_item {
  padding: 10px 0px;
}

#main .main_bottom .social_media {
  width: 70%;
}

#main .main_bottom .social_media .content_block-news li {
  width: 100%;
}

#main .main_bottom .social_media .content_block-news li .horizontal_item .horizontal_left {
  width: 35%;
}

#main .main_bottom .social_media .content_block-news li .horizontal_item .horizontal_right {
  width: 60%;
}

#main .main_bottom .block_news-different {
  width: 67%;
  float: left;
  padding: 20px 15px;
}

#footer {
  background-color: #252525;
  min-height: 400px;
  font-family: tahoma;
}

#footer .begin_footer {
  padding: 20px 0px;
  border-bottom: 1px solid red;
}

#footer .begin_footer .menu_footer {
  width: 100%;
  overflow: hidden;
  margin: 0px auto;
  padding: 15px 0px 0px 0px;
}

#footer .begin_footer .menu_footer li {
  width: 8%;
  margin-left: 2%;
  float: left;
}

#footer .begin_footer .menu_footer li a {
  padding: 5px 0px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

#footer .begin_footer .menu_footer li a:hover {
  color: #ff0202;
}

#footer .begin_footer .begin_footer-top {
  overflow: hidden;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid #333;
}

#footer .begin_footer .begin_footer-top .logo_footer {
  float: left;
}

#footer .begin_footer .begin_footer-top .logo_footer a {
  background: url(../images/logo-footer.svg) no-repeat center top;
  width: 190px;
  height: 33px;
  display: block;
}

#footer .begin_footer .begin_footer-top .logo_footer p {
  padding: 5px 0px 0px 20px;
  color: #fff;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

#footer .begin_footer .begin_footer-top .footer_search {
  float: right;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 0px 15px;
  margin: 0px 30px 0px 0px;
  background-color: #404040;
  height: 35px;
}

#footer .begin_footer .begin_footer-top .footer_search .text_search {
  border: none;
  padding: 0px 5px;
  float: left;
  background-color: #404040;
  height: 100%;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  font-weight: normal;
}

#footer .begin_footer .begin_footer-top .footer_search .btn_search {
  border: none;
  position: relative;
  float: left;
  cursor: pointer;
  font-family: "FontAwesome";
  height: 100%;
  width: 48px;
  background: transparent;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  font-weight: normal;
}

#footer .main_footer {
  padding: 40px 0px 20px 0px;
}

#footer .main_footer .content_footer-top {
  width: 100%;
}

#footer .main_footer .content_footer-top li {
  width: 45%;
  float: left;
  margin-left: 3%;
}

#footer .main_footer .content_footer-top li:first-child {
  margin-left: 0px;
}

#footer .main_footer .content_footer-top li .infor p {
  color: #999;
  font-size: 12px;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  font-weight: 300;
  line-height: 22px;
  font-family: tahoma;
}

#footer .main_footer .content_footer-top li .follow_us {
  width: 200px;
  overflow: hidden;
  margin: 10px 0px;
}

#footer .main_footer .content_footer-top li .follow_us p {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  font-weight: bold;
  margin: 10px 0px 20px 0px;
}

#footer .main_footer .content_footer-top li .follow_us li {
  float: left;
  width: 22%;
  margin-left: 2%;
}

#footer .main_footer .content_footer-top li .follow_us li:nth-child(1) {
  margin-left: 0%;
}

#footer .main_footer .content_footer-top li .follow_us li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #333333;
  border-radius: 5px;
}

#footer .main_footer .content_footer-top li .follow_us li .facebook_icon:after {
  width: 10px;
  height: 20px;
  display: block;
  content: "";
  background-image: url(../images/facebook.svg);
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  top: 10px;
  left: 15px;
}

#footer .main_footer .content_footer-top li .follow_us li .youtube_icon:after {
  width: 20px;
  height: 15px;
  display: block;
  content: "";
  background-image: url(../images/youtube.svg);
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  top: 13px;
  left: 10px;
}

#footer .main_footer .content_footer-top li .follow_us li .twitter_icon:after {
  width: 20px;
  height: 16px;
  display: block;
  content: "";
  background-image: url(../images/twitter.svg);
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  top: 12px;
  left: 11px;
}
